*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: "Nunito", sans-serif;
    background-color: rgba(255, 65, 65, 0.753);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input{
    padding: 10px;
    background: transparent;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    color: #ffffff;
}

button:hover{
    background: #ffffff;
    border: 2px solid #000000;
    cursor: pointer;
}